{% extends "base.html" %}

{% block title %}Photo Collage{% endblock %}

{% block content %}
    <h1>Alaskan Photos</h1>
    
    <div class="photo-collage">
        <!-- Photo Item 1 -->
        <div class="photo-item">
            <img src="{{ url_for('static', filename='images/Waterfall_Gatlinburg.jpg') }}">
        </div>
        
        <div class="photo-item">
            <img src="{{ url_for('static', filename='images/Alaskan_Mountains.jpg') }}">
        </div>
        
        <div class="photo-item">
            <img src="{{ url_for('static', filename='images/Glacier.jpg') }}">
        </div>
        
        <div class="photo-item">
            <img src="{{ url_for('static', filename='images/Mountain_Waterfall.jpg') }}">
        </div>
        
        <div class="photo-item">
            <img src="{{ url_for('static', filename='images/Beautiful_Valley.jpg') }}">
        </div>
        
    </div>
{% endblock %}